<div class="container">
  <div class="header">
    <div class="search-bar">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (input)="onSearchChange($event)" placeholder="Search...">
      </mat-form-field>
    </div>

    <button mat-button class="export-button" (click)="exportToExcel()" [disabled]="isExporting" *ngIf="checkIsAdmin()">
      <mat-icon>download</mat-icon> Excel
    </button>
  </div>

  <div class="table-container">
    <lib-table
    [tableData]="dataSource.data"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [showActionButton]="checkIsAdmin()"
    (onEdit)="checkIsAdmin() && editItem($event)"
    (onDelete)="checkIsAdmin() && deleteItem($event)"
    (onSelect)="checkIsAdmin() && onSelect($event)"
    (onPageChangeEmitter)="onPageChange($event)"
    (onSortChange)="onSortChange($event)">
    </lib-table>
  

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf="selectedIds.length > 0 && checkIsAdmin()">
      <button mat-button class="delete-button" (click)="deleteSelected()">Delete Selected</button>
    </div>

    <div class="success-message" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
