.home-button {
  margin-right: 8px;
}

.user-management {
  vertical-align: middle; 
}

mat-toolbar {
  background-color:#8e00b9;
  color: white;
}

mat-toolbar button {
  color: white; 
}

mat-toolbar button.mat-button {
  margin: 0 10px; /* Space between buttons */
}

mat-toolbar .mat-toolbar-spacer {
  flex: 1 1 auto; /* Spacer to push buttons to the right */
}

/* Active link styling */
.mat-button.active {
  background-color: #575757;
  border-radius: 4px;
}

/* Hover effect for buttons */
mat-toolbar button:hover {
  background-color: #444;
}
