<div class="background-image">
    <div class="loader-container" *ngIf="isLoading">
      <mat-progress-spinner
        mode="indeterminate"
        color="primary"
        diameter="50">
      </mat-progress-spinner>
    </div>
  
    <div class="card">
      <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <h4>Sign In</h4>
  
        <div class="form-group">
          <input
            type="text"
            formControlName="username"
            id="userName"
            placeholder="Enter your username"
            class="form-control"
          />
          <div *ngIf="signinForm.get('username')?.invalid && signinForm.get('username')?.touched" class="text-danger">
            Username is required
          </div>
        </div>
  
        <div class="form-group">
          <input 
            type="password"
            formControlName="password"
            id="userPassword"
            placeholder="Enter your password"
            class="form-control"
          />
          <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched" class="text-danger">
            Password is required (min 6 characters)
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
  
        <button type="submit" class="btn btn-outline-primary button-gap">
          Login
        </button>
        
        <button type="button" (click)="reset()" class="btn btn-outline-secondary mt-2">
          Reset
        </button>
      </form>
    </div>
  </div>
  