<form (ngSubmit)="onSubmit()" #addItemForm="ngForm" class="form-container">
    <div class="form-group mb-4">
      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" name="fullname" [(ngModel)]="model.fullname" class="form-control" placeholder="Full Name" required>
      <div *ngIf="addItemForm.submitted && !model.fullname" class="invalid-feedback">
        Full Name is required.
      </div>
    </div>
  
    <div class="form-group mb-4">
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" [(ngModel)]="model.dob" class="form-control" required>
      <div *ngIf="addItemForm.submitted && !model.dob" class="invalid-feedback">
        Date of Birth is required.
      </div>l
    </div>
  
    <div class="form-group mb-4">
        <label>Gender</label>
        <div class="form-check form-check-inline">
          <input type="radio" id="male" name="gender" [(ngModel)]="model.gender" value="Male" class="form-check-input" required>
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" id="female" name="gender" [(ngModel)]="model.gender" value="Female" class="form-check-input" required>
          <label for="female" class="form-check-label">Female</label>
        </div>
        <div *ngIf="addItemForm.submitted && !model.gender" class="invalid-feedback">
          Gender is required.
        </div>
      </div>
      
  
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>

  </form>
  